<html>

<head>

</head>

<body>
	<div class='login'>
		<form name='userloginForm' action="/login" method="post">
			<input name='username' type='text' />
			<input name='password' type='password' />
			<input type='submit'></input>
		</form>
	</div>
</body>

</html>